<h1>Editing product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Show this Medicine ", @product ,:class => "btn btn-primary "%> |
  <%= link_to "Back to Medicines 👈", products_path,:class => "btn btn-secondary" %>
</div>

<br><br>